Xsd2.Tests/Schemas/Issue12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    targetNamespace="http://codaxy.com/xsd2/Test.xsd"
    elementFormDefault="qualified"
    xmlns="http://codaxy.com/xsd2/Test.xsd"
    xmlns:mstns="http://codaxy.com/xsd2/Test.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="UpperCaseType">
    <xs:attribute name="Value" type="xs:int" use="optional" />            
  </xs:complexType>


  <xs:complexType name="LowerCaseType">
    <xs:attribute name="value" type="xs:int" use="optional" />
    <xs:attribute name="date" type="xs:date" use="optional" />
  </xs:complexType>

</xs:schema>